*{
	margin: 0;
	padding: 0;
}
.content{
	margin: 0 auto;
	padding: 20px;
}
.product{
	margin: 15px 10px;
	border: 1px solid #000;
	padding: 5px;
	display:inline-block;
}
.delete_btn{
	display:none;
}
.wrap{
	margin: 0 20px 20px;
	width: 180px;
}
.description{
	margin-top:10px;
}
.products{
	text-align:center;
}
.chkbox{
	height: 20px;
	text-align:left;
}
.chk{
	display: none;
}
#data{
	margin: 24px;
}
.field{
	margin-bottom: 5px;
}
.field_c{
	width: 260px;
	float: left;
}
input[type=text]{
	float:right;
}
span{
	color:red;
	display:none;
	margin-left: 20px;
}
.option{
	margin: 15px 0 10px;
}
#btn{
	float:right;
}
.header{
	margin:5px;
}
.footer{
	margin-top:2px;
	text-align:center;
}
.end{
	clear:both;
}