<div class="field">
	<div class="field_c">
		Weight KG
		<input name="weight" pattern="[0-9]+" type="text" required>
	</div>
	<span id="weight">Digits only</span>
	<div class="end"></div>
	<div class="description">Please enter weight in KG</div>
</div>