<div class="field">
	<div class="field_c">
		Size MB
		<input name="size" pattern="[0-9]+" type="text" required>
	</div>
	<span id="size">Digits only</span>
	<div class="end"></div>
	<div class="description">Please enter size in MB</div>
</div>