<div class="field">
	<div class="field_c">
		Length CM
		<input name="length" pattern="[0-9]+" type="text" required>
	</div>
	<span id="length">Digits only</span>
	<div class="end"></div>
</div>
<div class="field">
	<div class="field_c">
		Width CM
		<input name="width" pattern="[0-9]+" type="text" required>
	</div>
	<span id="width">Digits only</span>
	<div class="end"></div>
</div>
<div class="field">
	<div class="field_c">
		Height CM
		<input name="height" pattern="[0-9]+" type="text" required>
	</div>
	<span id="height">Digits only</span>
	<div class="end"></div>
	<div class="description">Please enter dimension in CM</div>
</div>