<div class="product">
	<div class="chkbox">
		<input type="checkbox" value="<key:id>" class="chk">
	</div>
	<div class="wrap">
		<div><key:sku></div>
		<div><key:name></div>
		<div><key:price></div>
		<div><key:description></div>
	</div>
</div>